.title {
    text-align: center;
    margin-top: 20px;
    color: rgb(61, 61, 214);
}

.btn-add {
    color: greenyellow;
}

Table {
    margin-top: 10px;
}

.modalHeader {
    background-color: rgb(16, 99, 171);
    color: white;
}

thead {

    background-color: rgb(46, 130, 78);

    th {
        color: white;
    }
}

.exampleSelect {
    margin-top: 35px;
}