.title {
    text-align: center;
    margin-top: 20px;
    color: rgb(61, 61, 214);
}

.btn-add {
    color: greenyellow;
}

Table {
    margin-top: 10px;
}

.mesage {
    color: red;
}

.modalHeader {
    background-color: rgb(16, 99, 171);
    color: white;
}

thead {

    background-color: rgb(55, 148, 91);

    th {
        color: white;
        text-align: center;
    }
}

.exampleSelect {
    margin-top: 35px;
}

.btn-reset {
    margin-top: 30px;
    margin-left: -60px;
    position: absolute;

}

.list-user {
    background: url('https://img.freepik.com/free-vector/meet-our-team-concept-landing-page_52683-11236.jpg?size=626&ext=jpg') center center no-repeat;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.list-service {
    background: url('https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?size=626&ext=jpg') center center no-repeat;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.from-name {
    margin-top: 20px;
    margin-bottom: 20px;
}

.from-content {
    height: 150px;
}