.container-content {
    background-color: rgb(238, 234, 234);

    .title-content {
        text-align: center;
        margin-top: 50px;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .slider-content {
        width: 50%;
        position: relative;
        margin: auto;
        padding-bottom: 50px;
    }
}